<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<div>
    <th:block th:each="user : ${users}">
        <a th:href="@{/admin/user(id=${user.getId()})}" th:text="|${user.getId()}. ${user.getUsername()} |"></a>
        <br/>
    </th:block>
</div>
<br/>
<a style="font-size: 20px; background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;"
   th:href="@{/admin/new}">Add
    user</a>
<br/><br/><br/>
<a style="font-size: 20px; background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;"
   th:href="@{/logout}">Logout</a>

</body>
</html>